################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Presentation/e-trade-api.API/appsettings.Production.json
