################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


#my (umut) files, folders
Presentation/e-trade-api.API/.config/
Presentation/e-trade-api.API/Properties/
Presentation/e-trade-api.API/obj/